*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}
.card{
    height: 650px;
    width: 400px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: transform 0.2s ease-out;
    transform-style: preserve-3d;
}
.image{
    height: 50%;
    width: 100%;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.content{
    height: 50%;
    width: 100%;
    padding-top: 10px;
}
.genres {
    height: 15%;
    display: flex;
}
.genres  > ul{
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    gap: 20px;
}
.genres  > ul > li{
    border: 1px solid gray;
    border-radius: 25px;
    padding: 10px;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: gray;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about{
    height: 60%;
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.button{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: 50px;
    width: 150px;
    background-color: rgb(182, 255, 255);
    border: none;
    border-radius: 25px;
    color: blue;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}